* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}
.max-width {
  max-width: 1300px;
  padding: 0 8px;
  margin: auto;
  /* border: 1px solid blue; */
  font-family: "Ubuntu", sans-serif;
}

/* navbar */
.navbar {
  /* border: 1px solid yellow; */
  position: fixed;
  width: 100%;
  padding: 4px 0;
  background: black;
  font-family: "Ubuntu", sans-serif;
}

.navbar .max-width {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  /* border: 1px solid palegoldenrod; */
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  /* color: crimson; */
}
/* logo */
.navbar .logo a img {
  margin-top: 10px;
  /* border: 1px solid blue; */
  height: 50px;
  /* margin: auto; */
}
/* logo */
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
}
.navbar .menu li a:hover {
  color: crimson;
}

/* home section styling */

#home {
  display: flex;
  background: url(./Image/laptop_books.jpg) no-repeat center;
  color: #fff;
  height: 100vh;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
  /* background-color: #111; */
  background-size: cover;
  background-attachment: fixed;
}
#home .max-width {
  margin: auto 0 auto 40px;
}
#home .home-content .text-1 {
  font-size: 27px;
}
#home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
#home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
#home .home-content .text-3 span {
  color: crimson;
  font-weight: 550;
}

/* About Me styling */

#about {
  padding: 50px;
  background-color: black;
  color: #fff;
}
#about > h1 {
  font-size: 60px;
  color: crimson;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}
#about > div {
  /* border: 1px solid pink; */
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.img {
  /* border: 1px solid red;   */
  margin: auto;
}
.img > img {
  width: 340px;
  height: 400px;
  border-radius: 500px;
  /* border: 1px solid yellow; */
}
.info {
  /* border: 1px solid brown; */
  padding-top: 50px;
}
.info p {
  margin-top: 15px;
  /* margin-left: 30px; */
  line-height: 25px;
  text-align: justify;
  font-family: "Ubuntu", sans-serif;
}
.header {
  margin: 50px 0px 15px 0px;
  font-size: 23px;
}
.header span {
  color: crimson;
  font-weight: 550;
}

/* Tech Stack Styling  */
.techstack {
  margin-top: 60px;
  margin-bottom: 70px;
  /* color: #fff; */
}
.techstack > h1 {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  color: crimson;
}
.tech_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: auto;
  /* border: 1px solid red; */
  /*  */
  max-width: 1300px;
  font-family: "Ubuntu", sans-serif;
}
.tech_container > div {
  /* border: 1px solid pink; */
  /* margin: auto; */
  text-align: center;
}
.tech_container img {
  height: 100px;
  /* border: 1px solid blue; */
}
.tech_container div p {
  /* border: 1px solid red; */
  padding: 7px 0 0 0;
  margin: auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: crimson;
}

/* Projects Styling */
#projects {
  padding: 50px;
  background-color: black;
  color: #fff;
  /* border: 1px solid red; */
}
.proj > h1 {
  font-size: 60px;
  color: crimson;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}
.container-pro {
  /* border: 4px solid crimson; */
  border-radius: 75px;
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.left {
  /* border: 1px solid blue; */
  padding: 20px;
}
.right {
  padding: 45px;
  /* border: 1px solid blue; */
}
.right h2 span {
  color: crimson;
  /* text-decoration: underline; */
}
.right h4 span {
  color: crimson;
}
.right p,
h4 {
  margin-top: 20px;
  line-height: 25px;
  text-align: justify;
  font-family: "Ubuntu", sans-serif;
}
.right > button {
  background-color: crimson;
  padding: 9px;
  border-radius: 7px;
  font-family: "Ubuntu", sans-serif;
  /* color: #fff; */
  font-weight: 600;
  font-size: 16px;
  margin: 10px;
}
.right > button a {
  color: #fff;
}
.right > button a:hover {
  color: black;
}
.left img {
  width: 100%;
  border-radius: 20px;
}

/* git calender */
.gitCalender {
  padding: 50px;
  color: #fff;
  /* border: 1px solid red; */
}
.gitCalender > h1 {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  color: crimson;
  font-family: "Ubuntu", sans-serif;
}

/* contact */
/* .con{
    background-color: black;
    color: #fff;
    padding: 50px;
    height: 500px;
}
.con h1{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    color: crimson;
    font-family: 'Ubuntu', sans-serif;
} */

/* contact section styling */
/* .contact .title::after {
    content: "";
  } */
.contact .contact-content .column {
  width: calc(50% - 30px);
  border: 1px solid black;
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  border: 1px solid black;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  /* border: 1px solid black; */

  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
  /* border: 1px solid black;   */
}
.contact .contact-content .row {
  display: flex;
  /* border: 1px solid black; */
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: #f96666;
}
.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info a,
.contact .contact-content .info a:hover,
.contact .contact-content .info a:link {
  text-decoration: none;
  color: #111;
}

.contact .contact-content .info .sub-title {
  color: #333;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area {
  display: flex;
  align-items: center;
}
.right form .button-area button {
  color: #fff;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #f96666;
  border: 2px solid #f96666;
  transition: all 0.3s ease;
}
.right form .button-area button:hover {
  color: #f96666;
  background: none;
}

/* contact */

/* Footer */
footer {
  /* border: 3px solid yellow; */
  color: crimson;
  padding-top: 15px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  margin-top: 20px;
  margin-bottom: 7px;
}

.footer_menu {
  /* border:1px solid red; */
  margin-bottom: 7px;
}

.footer_menu li {
  list-style: none;
  margin-left: 20px;
  display: inline-block;
  /* border:1px solid black ; */
}
.footer_menu li img {
  height: 66px;
  width: 80px;
}
.footer_menu li span {
  text-decoration: underline;
}
footer p {
  font-weight: 300;
}

/* Footer */
